@mixin border-box{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin debug-border{
  box-shadow: 0 0 1px black;
}