@import url('https://fonts.googleapis.com/css?family=Acme|Sedgwick+Ave');
@import 'mixins';

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7fbff;
  font-family: 'Acme', sans-serif;
  color: #555555;
}

h1 {
  margin: 20px;
}

.reservations-container {
  display: flex;
  flex-direction: column;
}

.login { max-width: 350px; }

.form-container {
  width: 95vw;
  padding: 20px 0;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #dddddd;
  display: flex;
  flex-direction: column;

  form{
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .fields {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
}

#reservation-message {
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  background-color: #efefff;
  order: 1;
}

label{
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type=password], input[type=text] {
  width: calc(100% - 10px);
  height: 20px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #aaa;
}

input[type=submit], button, .link {
  background-color: #114758;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  font-family: 'Acme', sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
}

.link {
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 10px;
  margin-right: 10px;
  text-align: center;
}

#fill-form { margin-left: 20px }

.rooms {
  padding: 5px;
  box-shadow: 0 0 5px #cccccc;
  border-radius: 5px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;

  h3 {
    width: 100%;
  }

  label { width: 250px; }
}

.flex {
  display: flex;
}

a { margin-top: 20px; }

.reservations {
  max-width: 95vw;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #ddd;
  margin: 10px;

  h2 { text-align: center; }

  .table-menor { display: none; }
  table { width: 100%; }
  thead { @include debug-border; }
  tbody {
    tr {
      height: 20px;
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #ddd;
      h6 { margin: 0 10px; line-height: 20px; font-size: 14px; }
      b { width: 100px; }
    }
  }
}


@media screen and (min-width: 768px) {

  .reservations-container {
    flex-direction: row;
  }

  .form-container {
    width: 750px;

    form {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .fields {
      max-width: 300px;
      width: 300px;
      margin-bottom: 40px;
    }
  }

  .rooms {
    max-width: 300px;
    margin: 0 20px;
    padding: 10px;
  }

  input[type=password], input[type=text] {
    height: 20px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #aaa;
  }

  input[type=submit], button {
    margin-right: 100%;
  }

  #reservation-message {
    order: 0;
  }

  .reservations {
    width: 300px;
  }
}